<ion-content [fullscreen]="true">
  <div class="heading">
    <h1 class="first-heading">Stop<span class="second-heading">watch</span></h1>
  </div>

  <div class="time-picker">
    <ion-item class="item-color">
      <ion-label>Rest Duration</ion-label>
      <ion-datetime
        placeholder="Tap Here"
        display-format="mm:ss"
        [(ngModel)]="fullTime"
      ></ion-datetime>
    </ion-item>
  </div>

  <div class="items">
    <circle-progress
      (click)="startTime()"
      [percent]="percent"
      [radius]="radius"
      [outerStrokeWidth]="16"
      [showZeroOuterStroke]="false"
      [outerStrokeColor]="'#8000FF'"
      [backgroundStroke]="'#33003F'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradientStopColor]="'#FF00CB'"
      [outerStrokeGradient]="true"
      [showInnerStroke]="false"
    ></circle-progress>
  </div>

  <ion-fab vertical="bottom" horizontal="center" size="30">
    <ion-fab-button>
      <ion-icon name="time-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
